@model IEnumerable<DBWebEFAPI.Data.Audit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.auditRecord)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.auditRecord)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.auditId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.auditId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.auditId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
